{% extends "skoufas_library/bootstrap.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block bootstrap5_extra_head %}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="{% static 'skoufas_library/site.css' %}"/>
  <link type="image/png"
        href="{% static 'skoufas_library/favicon.png' %}"
        rel="apple-touch-icon"/>
  <link type="image/png"
        href="{% static 'skoufas_library/favicon.png' %}"
        rel="icon"/>
  <meta name="theme-color" content="#8a2a42" />
  <!-- Matomo -->
  <script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analysis.rdfm.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
  </script>
  <!-- End Matomo Code -->
  {% block skoufas_library_extra_head %}
  {% endblock skoufas_library_extra_head %}
{% endblock bootstrap5_extra_head %}
{% block bootstrap5_content %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'skoufas_library/logo-new-1-280x195.png' %}"
             height="80"
             alt="Skoufas Logo"
             loading="lazy"/>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}
               href="{% url 'home' %}">{% translate "Home" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
               href="{% url 'about' %}"
               {% if request.resolver_match.url_name == 'about' %}aria-current="page"{% endif %}>{% translate "About" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}contact{% endif %}"
               href="{% url 'contact' %}"
               {% if request.resolver_match.url_name == 'contact' %}aria-current="page"{% endif %}>{% translate "Contact" %}</a>
          </li>
          {% get_current_language as LANGUAGE_CODE %}
          {% get_language_info for LANGUAGE_CODE as lang %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          <form name="set_session_language"
                action="{% url 'set_language' %}"
                method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <input name="language" type="hidden"/>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                 data-bs-toggle="dropdown"
                 href="#"
                 role="button"
                 aria-expanded="false"><i class="bi bi-translate"></i></a>
              <ul class="dropdown-menu">
                {% for language in languages %}
                  <li>
                    <a href="#"
                       class="dropdown-item"
                       onclick="document.set_session_language.language.value='{{ language.code }}'; document.set_session_language.submit();">{{ language.name_local }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </form>
        </ul>
        <form class="d-flex" role="search" action="{% url 'watson:search' %}">
          <input name="q"
                 value="{{ request.GET.q }}"
                 class="form-control me-2"
                 type="search"
                 placeholder="{% translate "Search" %}"
                 aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit" value="Go">{% translate "Search" %}</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <h1>
        {% block title %}
          (no title)
        {% endblock title %}
      </h1>
    </header>
    {% autoescape off %}
      {% bootstrap_messages %}
    {% endautoescape %}
    {% block content %}
      (no content)
    {% endblock content %}
  </div>
{% endblock bootstrap5_content %}
{% block bootstrap5_after_content %}
  <!-- Footer -->
  <footer class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <div class="d-flex flex-column flex-sm-row justify-content-between border-top py-4 my-4">
      <p>
        © 2022 <a class="text-reset bi-bold" href="https://skoufas.gr/">{% translate "Skoufas Association" %}</a> / {% translate "Design - Construction: Claudio Bantaloukas" %}.
      </p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark" href="https://github.com/skoufas/">
            <i class="bi bi-github" width="24" height="24">
            </i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="https://www.facebook.com/syllogosskoufas">
            <i class="bi bi-facebook" width="24" height="24">
            </i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <!-- Footer -->
{% endblock bootstrap5_after_content %}
