{% extends "skoufas_library/layout.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "All Books" %}
{% endblock title %}
{% block content %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if not page_obj.has_previous %}#{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"
                   aria-label="Previous">{% translate "Previous" %}</a>
            </li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if not page_obj.has_next %}#{% else %}?page={{ page_obj.next_page_number }}{% endif %}"
                   aria-label="Next">{% translate "Next" %}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}"
                   aria-label="Last">&raquo;</a>
            </li>
        </ul>
    </nav>
    <ul class="list-group">
        {% for book_entry in page_obj %}
            <a href="{% url 'books:book-by-id' book_entry.id %}"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <i class="bi bi-book"></i>  {{ book_entry.title }}
                    </h5>
                </div>
                {% if book_entry.subtitle %}<small class="text-muted">{{ book_entry.subtitle }}</small>{% endif %}
                <p class="mb-1">
                    {% for author in book_entry.authors.all %}
                        {{ author }}
                    {% empty %}
                        {% translate "Book with no authors" %}
                    {% endfor %}
                </p>
            </a>
        {% endfor %}
    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
            </li>
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if not page_obj.has_previous %}#{% else %}?page={{ page_obj.previous_page_number }}{% endif %}"
                   aria-label="Previous">{% translate "Previous" %}</a>
            </li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if not page_obj.has_next %}#{% else %}?page={{ page_obj.next_page_number }}{% endif %}"
                   aria-label="Next">{% translate "Next" %}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}"
                   aria-label="Last">&raquo;</a>
            </li>
        </ul>
    </nav>
    {% comment %} <dl class="row">
                {% for author in object.authors.all %}
                    <li>{{ author }}</li>
                {% empty %}
                    <li>{% translate "Book with no authors" %}</li>
                {% endfor %}
            </ul>
        </dd>
        {% if object.dewey %}
            <dt class="col-sm-3">
                {% translate "Dewey" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.dewey }}
            </dd>
        {% endif %}
        {% if object.entrynumber_set.all %}
            <dt class="col-sm-3">
                {% translate "Entry Numbers" %}
            </dt>
            <dd class="col-sm-9">
                <ul>
                    {% for entrynumber in object.entrynumber_set.all %}
                        <li>
                            {{ entrynumber.entry_number }}
                            {% if entrynumber.copies %}
                                {% blocktranslate count counter=entrynumber.copies %}(1 copy){% plural %}({{ entrynumber.copies }} copies){% endblocktranslate %}
                            {% endif %}
                        </li>
                    {% empty %}
                        <li>{% translate "Book with no entry numbers" %}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if object.topics.all %}
            <dt class="col-sm-3">
                {% translate "Topics" %}
            </dt>
            <dd class="col-sm-9">
                <ul>
                    {% for topic in object.topics.all %}<li>{{ topic }}</li>{% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if object.language %}
            <dt class="col-sm-3">
                {% translate "Language" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.get_language_display }}
            </dd>
        {% endif %}
        {% if object.editor %}
            <dt class="col-sm-3">
                {% translate "Editor" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.editor }}
            </dd>
        {% endif %}
        {% if object.edition %}
            <dt class="col-sm-3">
                {% translate "Edition" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.edition }}
            </dd>
        {% endif %}
        {% if object.edition_year %}
            <dt class="col-sm-3">
                {% translate "Edition Year" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.edition_year }}
            </dd>
        {% endif %}
        {% if object.pages %}
            <dt class="col-sm-3">
                {% translate "Pages" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.pages }}
            </dd>
        {% endif %}
        {% if object.copies %}
            <dt class="col-sm-3">
                {% translate "Copies" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.copies }}
            </dd>
        {% endif %}
        {% if object.volumes %}
            <dt class="col-sm-3">
                {% translate "Volumes" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.volumes }}
            </dd>
        {% endif %}
        {% if object.translators.all %}
            <dt class="col-sm-3">
                {% translate "Translators" %}
            </dt>
            <dd class="col-sm-9">
                <ul>
                    {% for translator in object.translators.all %}
                        <li>{{ translator }}</li>
                    {% empty %}
                        <li>{% translate "Book with no translators" %}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if object.curators.all %}
            <dt class="col-sm-3">
                {% translate "Curators" %}
            </dt>
            <dd class="col-sm-9">
                <ul>
                    {% for curator in object.curators.all %}
                        <li>{{ curator }}</li>
                    {% empty %}
                        <li>{% translate "Book with no curators" %}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if object.donors %}
            <dt class="col-sm-3">
                {% translate "Donors" %}
            </dt>
            <dd class="col-sm-9">
                <ul>
                    {% for donor in object.donors.all %}<li>{{ donor }}</li>{% endfor %}
                </ul>
            </dd>
        {% endif %}
        {% if object.notes %}
            <dt class="col-sm-3">
                {% translate "Notes" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.notes }}
            </dd>
        {% endif %}
        {% if object.material %}
            <dt class="col-sm-3">
                {% translate "Material" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.material }}
            </dd>
        {% endif %}
        {% if object.isbn %}
            <dt class="col-sm-3">
                {% translate "ISBN" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.isbn }}
            </dd>
        {% endif %}
        {% if object.issn %}
            <dt class="col-sm-3">
                {% translate "ISSN" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.issn }}
            </dd>
        {% endif %}
        {% if object.ean %}
            <dt class="col-sm-3">
                {% translate "EAN" %}
            </dt>
            <dd class="col-sm-9">
                {{ object.ean }}
            </dd>
        {% endif %}
        <dt class="col-sm-3">
            {% translate "Offprint" %}
        </dt>
        <dd class="col-sm-9">
            <input class="form-check-input" type="checkbox" value="" id="offprintCheck" {% if object.offprint %}checked{% endif %}/>
        </dd>
        <dt class="col-sm-3">
            {% translate "Has CD" %}
        </dt>
        <dd class="col-sm-9">
            <input class="form-check-input" type="checkbox" value="" id="hasCdCheck" {% if object.has_cd %}checked{% endif %}/>
        </dd>
        <dt class="col-sm-3">
            {% translate "Has DVD" %}
        </dt>
        <dd class="col-sm-9">
            <input class="form-check-input" type="checkbox" value="" id="hasCdCheck" {% if object.has_dvd %}checked{% endif %}/>
        </dd>
    </dl>
    {% if object.dbfentry_set.all %}
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDBFEntry" aria-expanded="false" aria-controls="collapseDBFEntry">
                {% translate "Show original DBF entry" %}
            </button>
        </p>
        <div class="collapse" id="collapseDBFEntry">
            <div class="card card-body">
                {% for dbfentry in object.dbfentry_set.all %}
                    <pre><code class="language-yaml">{{ dbfentry.as_yaml }}</code></pre>
                                                                                                                                                                                                                                                                                                                                                                                                        {% endfor %}
                                                                                                </div>
                            </div>
{% endif %} {% endcomment %}
{% endblock content %}
