{% extends "skoufas_library/layout.html" %}
{% load bootstrap5 %}
{% load i18n %}
{% load static %}
{% block title %}
    {{ object }}
    {% if perms.books.change_donor %}
        <a href="{% url 'admin:books_donor_change' object.id %}"><i class="bi bi-pencil-fill"></i></a>
    {% endif %}
{% endblock title %}
{% block content %}
    <dt>
        {% blocktranslate %}Books donated by {{ object }}{% endblocktranslate%}
    </dt>
    <dd>
        <div class="list-group ">
            {% for book_entry in object.bookentry_set.all %}
                <div class="list-group-item d-flex w-100 justify-content-between">
                    <a href="{% url 'books:book-by-id' book_entry.id %}"
                       class="list-group-item-action col-9">
                        <i class="bi bi-book"></i> {{ book_entry.title }}
                        {% if book_entry.subtitle %}
                            <div>
                                <small class="text-muted">{{ book_entry.subtitle }}</small>
                            </div>
                        {% endif %}
                    </a>
                    {% if perms.books.change_bookentry %}
                        <a href="{% url 'admin:books_bookentry_change' book_entry.id %}"
                           class="list-group-item-action col-1-auto"><span class="badge bg-primary rounded-pill"><i class="bi bi-pencil-fill"></i></span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </dd>
{% endblock content %}
